<!DOCTYPE html>
<html>
<head>
    <title>Height Map Render</title>
    <script src="js/three.min.js"></script>
    <script>
    var renderer;
    var scene;
    var camera;
    var geometry;
    var material;
    var current_mesh;

    var renderTerrain = function(data) {
        if(scene !== undefined && current_mesh !== undefined) {
            scene.remove(current_mesh);
        }
        geometry = new THREE.PlaneGeometry(60, 60, data.width-1, data.height-1);
        current_mesh = new THREE.Mesh( geometry, material );

        for (var i = 0, l = geometry.vertices.length; i < l; i++) {
          geometry.vertices[i].z = data.values[i];
        }
        geometry.computeFaceNormals();
        geometry.computeVertexNormals();
        geometry.__dirtyVertices = true;
        geometry.__dirtyNormals = true;

        scene.add( current_mesh );

        renderer.setClearColor( 0xdddddd, 1);
        renderer.render( scene, camera );

    };

    var toggleWireframe = function() {
        material.wireframe = !material.wireframe;
        renderer.render(scene, camera);
    }

    var init = function() {
        renderer = new THREE.WebGLRenderer();
        renderer.setSize( 800, 600 );
        document.body.appendChild( renderer.domElement );

        scene = new THREE.Scene();

        camera = new THREE.PerspectiveCamera(
            35,             // Field of view
            800 / 600,      // Aspect ratio
            0.1,            // Near plane
            10000           // Far plane
        );
        camera.position.set( 20, -80, 100 );
        camera.lookAt( scene.position );

        var light = new THREE.DirectionalLight( 0xFFFFFF, 0.9 );
        light.position.set( 1, 0, 1 );
        scene.add( light );

        material = new THREE.MeshPhongMaterial( { color: 0xCCCCCC, wireframe: true } );
    };

    var fetchData = function(style) {
        var xhr = new XMLHttpRequest();
        xhr.open("get", "/data/" + style + "/", true);
        xhr.responseType = "json";
        xhr.onload = function() {
          renderTerrain(xhr.response);
        };
        xhr.send();
    }

    window.onload = function() {
        init();
        fetchData("sine");
    };
    </script>
</head>
<body>
    <p>
    <button onclick="fetchData('random');">Random</button>
    <button onclick="fetchData('sine');">Sine</button>
    </p>
    <p>
    <button onclick="toggleWireframe();">Toggle Wireframe</button>
    </p>
</body>
</html>
